# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/GPATH
/GRTAGS
/GSYMS
/GTAGS
*~
/a.out
/dual_buffer.ppm
/generate.py
/main
/naive.ppm
/out.ppm
/pre_scan.png
/single_buffer.ppm
/test.lst
/300.png
